<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Sidebar </title>
</head>
<body>


    <div th:replace="layout/sidebar :: sidebar"></div>

<main>

    <header>

        <span> <i class="bi bi-card-list"></i> </span>

        <figure>
            <img class="profile" src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D" alt="">
        </figure>
    </header>


    <div class="table-container">
        <h3>Table List Product </h3>
        <hr>
        <table>
            <thead>
            <tr>
                <th>CODE</th>
                <th>TITLE</th>
                <th>PRICE</th>
                <th>QUATITY</th>
                <th>ACTION</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>1</td>
                <td>IPhone 13 ProMax</td>
                <td><span class="label">800$</span></td>
                <td>1</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-danger" href=""><i class="bi bi-trash"></i></a>
                        <a class="btn btn-success" href=""><i class="bi bi-pencil-square"></i></a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>IPhone 13 ProMax</td>
                <td><span class="label">800$</span></td>
                <td>1</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-danger" href=""><i class="bi bi-trash"></i></a>
                        <a class="btn btn-success" href=""><i class="bi bi-pencil-square"></i></a>
                    </div>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

</main>

</body>
</html>